# ===== RAW & PROCESSED DATA =====
*.fastq
*.fastq.gz

# ===== ASSEMBLY OUTPUTS =====
*.fasta
*.gfa

# ===== QC & ANALYSIS OUTPUTS =====
02_qc_before_processing/
04_qc_after_processing/
06_genome_quality_assessment/
07_genome_annotation/
08_plassembler/
09_abricate/
10_genomad/

# ===== ALIGNMENT / COVERAGE =====
*.bam
*.bai
*.depth*
*.paf

# ===== REPORTS =====
*.html
fastp.json
fastp.html

# ===== Plotly bundles =====
np
go
pd

# Tool logs
*.log
unicycler.log
busco_*.log
